<!-- <h1>Home component trying to access home service variale.</h1>

<span>Service Private Variavle: {{_homeService.name}}</span> -->

<div class="">
    <nav class="navbar navbar-expand-lg py-0" style="box-shadow: 0 0.125rem 0.25rem 0 rgb(0 0 0 / 11%);">
        <div class="container-fluid">
            <a class="navbar-brand nav-link active" aria-current="page" routerLink="">Angular Guard <sub>Ayush</sub></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                </ul>
                <ul class="navbar-nav d-flex">
                    <li class="nav-item" data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse">
                        <a class="nav-link" routerLink="first">First</a>
                    </li>
                    <li class="nav-item" data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse">
                        <a class="nav-link" routerLink="second">Second</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div class="container">
    <app-home></app-home>
</div>

<p class="container mt-4" style="text-align: center;">Just demo for &nbsp; <b> canDeactivate Guard </b> &nbsp; 
    and very initial, haven't valied based on input field.</p>

<div class="container">
    <router-outlet></router-outlet>
</div>